.details-container-profile {
    width: 50%;
    height: 100%;
    float: left;
}

.picture-container-profile {
    width: 50%;
    float: right;
    margin-top: 2%;
}

.picture-profile {
    width: 18.75rem;
    height: 18.75rem;
    margin-left: 25%;
}

.picture-container-profile img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
}

.picture-buttons-profile {
    display: flex;
    flex-wrap: wrap;
}

.button-profile {
    text-decoration: none;
    width: 6.25rem;
    height: 1.875rem;
    margin-top: 0.938rem;
    align-items: center;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #f7f1de;
    font-size: 0.938rem;
    font-weight: bold;
    transition-duration: 0.4s;
    border-radius: 0.625rem;
    border-color: #de7002;
    background-color: #de7002;
  }
  
  .button-profile:hover {
    text-decoration: none;
    cursor: pointer;
    border-color: #000;
    background-color: #000;
    color: #de7002;
  }

.remove-photo {
    width: 9.375rem;
    margin-top: 1rem;
    margin-left: 10rem;
    text-align: center;
    padding-top: 0.313rem;
    padding-bottom: 0rem;
    text-decoration: none;
    box-shadow: 0.313rem 0.313rem 0.5rem #c1c0c0;
}

.change-photo {
    width: 9.375rem;
    margin-top: 1rem;
    margin-left: 1.875rem;
    text-align: center;
    padding-top: 0.313rem;
    padding-bottom: 0rem;
    text-decoration: none;
    box-shadow: 0.313rem 0.313rem 0.5rem #c1c0c0;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-container label {
    width: 100%;
    margin-top: 1rem;
}

.details-input {
    width: 85%;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    margin-left: 2rem;
    border-radius: 6px;
    color: #000;
    border: 2px solid #de7002;
    background-color: #f7f1de;
}

.profile-input {
    display: none;
}

.select-profile {
    width: 87%;
  }

  .submit-profile {
      margin-top: 1rem;
      width: 25%;
      margin-left: 70%;
      margin-right: 10%;
  }

  .changebutton {
    margin-top: 1rem;
    margin-left: 70%;
    margin-top: 0.938rem;
    height: 1.875rem;
    align-items: center;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #f7f1de;
    font-size: 0.938rem;
    font-weight: bold;
    transition-duration: 0.4s;
    border-radius: 0.625rem;
    border-color: #de7002;
    background-color: #de7002;
  }
  
  .changebutton:hover {
    cursor: pointer;
    border-color: #000;
    background-color: #000;
    color: #de7002;
  }
  