.App {
    text-align: center;
  }

.first {
    position: relative;
    float: left;
    width: 66%;
    height: 30rem;
    border-right: solid #de7002 0.1rem;
}

.ffirst{
    position: relative;
    float: left;
    width: 33%;
}

.fsecond{
    position: relative;
    float: right;
    width: 33%;
}

.second {
    position: relative;
    float: right;
    width: 33.3%;
}

.contain{
    margin-top: 2rem;
    margin-left: 10%;
    height: 14rem;
    width: 80%;
    background-color: #F4C690;
}

.fillbox{
    float: right;
    margin-top: 2rem;
    height: 10rem;
    width: 10%;
    background-color: #F7F1DE;
}