.App {
    text-align: center;
  }

.first {
    position: relative;
    float: left;
    width: 66%;
    height: 30rem;
    border-right: solid #de7002 0.1rem;
}

.ffirst{
    position: relative;
    float: left;
    width: 33%;
}

.fsecond{
    position: relative;
    float: right;
    width: 33%;
}

.second {
    position: relative;
    float: right;
    width: 33.3%;
}

.container {
    margin-top: 2rem;
    height: 1.625rem;
    width: 10%;
    background-color: #F4C690;
}